@font-face {
    font-family: 'BagelFatOne';
    src: url('../fonts/BagelFatOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #0d0877;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ffffff;
    text-align: center;
    background-image: radial-gradient(#2a1fa2 20%, transparent 20%),
     radial-gradient(#2a1fa2 20%, transparent 20%);
    background-size: 50px 50px;
  }

h1 {
    font-size: 5rem;
    margin-top: 60px;
  }

h2 {
        font-size: 2.5rem;
        margin-top: 20px;
    }

h3{
    font-size: 2rem;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 150px
}
.hotline {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    font-size: 22px;
}