@font-face {
  font-family: 'BagelFatOne';
  src: url('../fonts/BagelFatOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #0f0f61;
  font-family: 'Comic Sans MS', sans-serif;
}

.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.tekstblok h1 {
  font-family: 'BagelFatOne', cursive;
  font-size: 5rem;
  line-height: 1.3;
  color: #b3dcff;
  margin: 0;
  text-align: left;
}

.gul {
  color: #ffe87a;
}

.blaa {
  color: #b3dcff;
  display: inline-block;

}

.stor {
  font-size: 9rem;
  line-height: 0.8;
  margin-left: 22px;
  font-size: 11rem;
}


.illustration {
  position: relative;
  width: 50%;
}

.hoved {
  width: 100%;
}

.pige {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(0); /* Startposition */
  transition: transform 0.1s ease-out;
  width: 60px;
}
.pige {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  transition: transform 0.5s ease-out;
}

.pige.move-up {
  transform: translateX(-50%) translateY(-300px); /* eller hvor højt du vil */
}
  