@font-face {
  font-family: 'BagelFatOne';
  src: url('../fonts/BagelFatOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 200vh; /* giver plads til at scrolle */
  overflow-x: hidden;
  background-color: #0f0f61;
  font-family: 'Comic Sans MS', sans-serif;
}

.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1200px;
  margin-top: 100px;
}

.tekstblok {
  flex: 1;
  padding-right: 40px;
}

h1, h2 {
  font-size: 5rem;
  color: #cceaff;
  font-family: 'BagelFatOne', sans-serif;
  margin-bottom: -50px;
  margin-top: 20px;
}

#saadan {
  font-size: 8rem;
  margin-top: 0;
  color: #cceaff;
  font-family: 'BagelFatOne', sans-serif;
  
}

h3 {
  font-size: 13rem;
  color: #cceaff;
  font-family: 'BagelFatOne', sans-serif;
  margin-top: -290px;
  margin-left: 410px;
  text-align: center;
}

#gul {
  color: #ffe87a;
}

.illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
}

.tunnel img{
  width: 90%;
  max-width: 600px;
  height: auto;
  transform-origin: center;
  transition: transform 0.1s ease-out;
  
}

.tunnel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: -50px;
}

.pige {
  position: absolute;
  bottom: 10px;
  left: 40%;
  transform: translateX(-50%) translateY(0);
  width: 60px;
  transition: transform 0.1s ease-out;
}


.pige.move-up {
  transform: translateX(-50%) translateY(-300px); /* eller hvor højt du vil */
}
  