body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url("img/curser.png"), auto;
  }
  
  .scene {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .girl {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 15%;
    z-index: 1;
    pointer-events: none; 
  }

  