@font-face {
    font-family: 'BagelFatOne';
    src: url('../fonts/BagelFatOne-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('../fonts/BigShoulders-VariableFont_opsz\,wght.ttf') format('truetype');
  }

:root{
    --darkblue:#0F038F;
    --blue:#1000F7;
    --lightblue:#BFECFD;
    --orange:#FF982A;
    --yellow:#FCF084;
    --lightgreen:#74B779;
    --grey:#353535;

}

body {
    margin: 0;
    padding: 0;
    background-color: #0d0877;
  }

h1, p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
  h1 {
    font-size: 5rem;
    font-family: 'BagelFatOne', sans-serif;
    color: white;
    text-align: center;
    margin-top: 100px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
  }

  p {
    color: var(--yellow); 
    margin-left: 20px;
  }

  h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    
  }

   
  #start-knap {
    background-color: white;
    color:var(--darkblue);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2.5s;
  }

    #start-knap:hover {
        background-color: var(--blue);
        color: white;
    }

   
    .knapogimg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        margin-left: 800px;
        margin-top: -100px;
        opacity: 0;
        animation:  moveIn 1s forwards;
        animation-delay: 2.5s;
    }

    @keyframes fadeIn {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
    }

    @keyframes moveIn {
        from {
            transform: translateY(100px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

